Repository voxpupuli/puppet-prometheus, pull requests merged in 2018-07, with the labels that each got.

#230 Release 6.0.6
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#234 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#233 use web.external-url configuration
  manifests/config.pp
  manifests/init.pp
  manifests/server.pp
  spec/fixtures/files/prometheus2.debian
  spec/fixtures/files/prometheus2.systemd
  spec/fixtures/files/prometheus2.sysv
  spec/fixtures/files/prometheus2.upstart
Labels: enhancement

#242 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync

#243 release 6.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#241 180 rule files param
  data/defaults.yaml
  manifests/server.pp
  spec/classes/prometheus_spec.rb
  spec/fixtures/files/prometheus1.yaml
  spec/fixtures/files/prometheus2.yaml
Labels: bug

#236 add postgres exporter
  README.md
  data/defaults.yaml
  manifests/postgres_exporter.pp
  spec/acceptance/postgres_exporter_spec.rb
  spec/classes/postgres_exporter_spec.rb
Labels: enhancement
