Repository voxpupuli/puppet-prometheus, pull requests merged in 2018-08, with the labels that each got.

#235 add ubuntu 18.04 support
  .sync.yml
  .travis.yml
  metadata.json
  spec/acceptance/postgres_exporter_spec.rb
  spec/acceptance/prometheus_exporter_spec.rb
  spec/acceptance/prometheus_server_spec.rb
  spec/acceptance/redis_exporter_spec.rb
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_methods.rb
Labels: enhancement

#246 release 6.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#249 modulesync 1.9.6
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#253 add prometheus server version to alerts resource
  manifests/server.pp
  spec/acceptance/prometheus_server_spec.rb
Labels: bug

#247 Add support for mysqld_exporter version 0.11.0
  manifests/mysqld_exporter.pp
  spec/acceptance/mysqld_exporter_spec.rb
  spec/classes/mysqld_exporter_spec.rb
Labels: enhancement
