Repository voxpupuli/puppet-prometheus, pull requests merged in 2018-10, with the labels that each got.

#267 release 6.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#269 modulesync 2.2.0 and allow puppet 6.x
  .fixtures.yml
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#264 consul_exporter improvement for version 0.4.0 and above
  manifests/consul_exporter.pp
  spec/acceptance/consul_exporter_spec.rb
Labels: enhancement

#272 Feature/collectd exporter
  README.md
  data/defaults.yaml
  manifests/collectd_exporter.pp
  spec/acceptance/collectd_exporter_spec.rb
  spec/classes/collectd_exporter_spec.rb
Labels: enhancement

#275 release 6.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#276 bump prometheus version: 1.5.2->2.4.3
  README.md
  data/defaults.yaml
  spec/acceptance/prometheus_server_spec.rb
Labels: backwards-incompatible
