Repository voxpupuli/puppet-prometheus, pull requests merged in 2019-11, with the labels that each got.

#380 release 7.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#376 Add service restart on package change
  manifests/daemon.pp
  manifests/install.pp
Labels: bug

#384 drop Ubuntu 14.04 support
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#386 Accept `Sensitive` mysqld_exporter `cnf_password`
  data/defaults.yaml
  manifests/mysqld_exporter.pp
  spec/classes/mysqld_exporter_spec.rb
  templates/my.cnf.epp
  templates/my.cnf.erb
Labels: enhancement

#387 Support redis_exporter version >= 1.0.0
  manifests/redis_exporter.pp
  spec/acceptance/redis_exporter_spec.rb
Labels: enhancement

#388 Add `scrape_job_labels` parameter to exporters
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/daemon.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
  spec/defines/daemon_spec.rb
Labels: enhancement

#390 Fix prometheus not restarting after config changes on systemd based systems
  manifests/config.pp
  manifests/scrape_job.pp
  manifests/server.pp
  spec/acceptance/prometheus_server_spec.rb
  spec/classes/prometheus_spec.rb
Labels: bug

#391 Update default redis_exporter version to 1.3.4
  data/defaults.yaml
  spec/acceptance/redis_exporter_spec.rb
Labels: backwards-incompatible

#392 Update default Prometheus version from 2.11.1 to 2.14.0
  data/defaults.yaml
Labels: backwards-incompatible

#394 Release 8.0.0
  .travis.yml
  CHANGELOG.md
  Dockerfile
  Gemfile
  Rakefile
  manifests/config.pp
  manifests/daemon.pp
  metadata.json
  spec/spec_helper.rb
Labels: modulesync, skip-changelog
