Repository voxpupuli/puppet-prometheus, pull requests merged in 2019-07, with the labels that each got.

#328 Link the amtool only if it is installed via direct download.
  manifests/alertmanager.pp
Labels: bug

#298 Add `max_open_files` parameter for systemd systems
  manifests/config.pp
  manifests/init.pp
  spec/classes/prometheus_spec.rb
  templates/prometheus.systemd.erb
Labels: enhancement

#334 prometheus: update 2.4.3->2.11.1
  data/defaults.yaml
Labels: backwards-incompatible

#339 mesos_exporter: add unit tests & Fix bug/typo in parameter assignment
  manifests/mesos_exporter.pp
  spec/classes/mesos_exporter_spec.rb
Labels: bug

#335 alertmanager: update 0.5.1->0.18.0
  data/defaults.yaml
Labels: backwards-incompatible

#336 node_exporter: update 0.16.0->0.18.1
  data/defaults.yaml
  spec/classes/node_exporter_spec.rb
Labels: backwards-incompatible

#344 consul_exporter: update 0.3.0->0.4.0
  data/defaults.yaml
Labels: backwards-incompatible

#337 mesos_exporter: update 1.0.0->1.1.2 & add acceptance tests
  data/defaults.yaml
  spec/acceptance/mesos_exporter_spec.rb
  spec/classes/mesos_exporter_spec.rb
Labels: backwards-incompatible

#342 nginx_vts_exporter: update 0.6->0.10.4 & Add acceptance tests
  data/defaults.yaml
  spec/acceptance/nginx_vts_exporter_spec.rb
Labels: backwards-incompatible

#340 process_exporter: update 0.1.0->0.5.0 & add acceptance tests
  data/defaults.yaml
  spec/acceptance/process_exporter_spec.rb
Labels: backwards-incompatible

#338 haproxy_exporter: update 0.9.0->0.10.0
  data/defaults.yaml
  spec/acceptance/haproxy_exporter_spec.rb
Labels: backwards-incompatible

#346 pushgateway: use correct CPU architecture & add acceptance tests
  manifests/pushgateway.pp
  spec/acceptance/pushgateway_spec.rb
Labels: bug

#341 pushgateway: update 0.4.0->0.8.0 & add enhance unit tests
  data/defaults.yaml
  spec/classes/pushgateway_spec.rb
Labels: backwards-incompatible

#348 mysqld_exporter: update 0.9.0->0.12.0
  data/defaults.yaml
  spec/acceptance/mysqld_exporter_spec.rb
  spec/classes/mysqld_exporter_spec.rb
Labels: backwards-incompatible

#349 consul_exporter: Update 0.4.0->0.5.0
  data/defaults.yaml
  spec/acceptance/consul_exporter_spec.rb
Labels: backwards-incompatible

#351 snmp: Update 0.7.0->0.15.0 & Add acceptance tests
  data/defaults.yaml
  spec/acceptance/snmp_exporter_spec.rb
Labels: backwards-incompatible

#352 statsd: update 0.8.0->0.12.1
  data/defaults.yaml
  spec/acceptance/statsd_exporter_spec.rb
Labels: backwards-incompatible

#353 blackbox: update 0.7.0->0.14.0 & Add acceptance tests
  data/defaults.yaml
  spec/acceptance/blackbox_exporter_spec.rb
Labels: backwards-incompatible

#354 postgres_exporter: update 0.4.6->0.5.1
  data/defaults.yaml
  spec/acceptance/postgres_exporter_spec.rb
Labels: backwards-incompatible

#356 varnish_exporter: update 1.4->1.5
  data/defaults.yaml
  spec/acceptance/varnish_exporter_spec.rb
Labels: backwards-incompatible

#358 apache_exporter: update 0.5.0->0.7.0
  data/defaults.yaml
  spec/acceptance/apache_exporter_spec.rb
Labels: backwards-incompatible

#359 release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#361 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper.rb
Labels: modulesync
