Repository voxpupuli/puppet-prometheus, pull requests merged in 2019-12, with the labels that each got.

#402 modulesync 2.9.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
Labels: modulesync

#400 make apache exporter service name customizable
  manifests/apache_exporter.pp
Labels: enhancement

#396 Add postfix exporter
  REFERENCE.md
  manifests/daemon.pp
  manifests/postfix_exporter.pp
  spec/acceptance/postfix_exporter_spec.rb
Labels: enhancement

#403 Convert comments to puppet-strings
  REFERENCE.md
  manifests/alertmanager.pp
  manifests/alerts.pp
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/config.pp
  manifests/consul_exporter.pp
  manifests/daemon.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/init.pp
  manifests/install.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/postfix_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/pushgateway.pp
  manifests/pushprox_client.pp
  manifests/pushprox_proxy.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/run_service.pp
  manifests/scrape_job.pp
  manifests/server.pp
  manifests/service_reload.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
Labels: docs, enhancement

#405 modulesync 2.9.0
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
Labels: modulesync

#404 Add Bird exporter
  REFERENCE.md
  manifests/bird_exporter.pp
  spec/classes/bird_exporter_spec.rb
Labels: enhancement

#406 release 8.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#407 Migrate static data from hiera to puppet code
  REFERENCE.md
  data/defaults.yaml
  manifests/alertmanager.pp
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/bird_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/daemon.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/init.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/pushgateway.pp
  manifests/pushprox_client.pp
  manifests/pushprox_proxy.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/server.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
  spec/classes/prometheus_spec.rb
  spec/spec_helper_methods.rb
Labels: docs

#410 modulesync 2.10.0
  .msync.yml
  .travis.yml
Labels: modulesync
