Repository voxpupuli/puppet-prometheus, pull requests merged in 2019-05, with the labels that each got.

#314 subbing out @name in stop function with an ambiguous name.
  templates/daemon.sysv.erb
Labels: bug

#313 Feature update to newest elasticsearch exporter version: 1.0.2rc1 -> 1.1.0rc1
  data/defaults.yaml
  manifests/elasticsearch_exporter.pp
Labels: backwards-incompatible

#318 issue #306: Fix broken startup scripts
  data/defaults.yaml
  manifests/config.pp
  manifests/init.pp
  manifests/server.pp
  spec/fixtures/files/prometheus2.systemd
  spec/fixtures/files/prometheus2.upstart
  templates/prometheus.systemd.erb
  templates/prometheus.upstart.erb
Labels: bug

#54 Allow override of extract command for archives
  data/defaults.yaml
  manifests/daemon.pp
  manifests/init.pp
  manifests/install.pp
Labels: enhancement

#299 Debian daemon template: Split and escape args to avoid quotes passed as args
  templates/daemon.debian.erb
Labels: bug, needs-tests

#319 Add flag for managing the config file
  data/defaults.yaml
  manifests/config.pp
  manifests/init.pp
  manifests/server.pp
  spec/classes/prometheus_spec.rb
Labels: enhancement

#277 Validate Alertmanager config
  manifests/alertmanager.pp
  spec/acceptance/alertmanager_spec.rb
Labels: enhancement
