Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-06, with the labels that each got.

#461 Redis Exporter: Update 1.3.4->1.6.1
  data/defaults.yaml
  spec/acceptance/redis_exporter_spec.rb
Labels: backwards-incompatible

#462 Add memcached exporter support
  manifests/memcached_exporter.pp
  spec/classes/memcached_exporter_spec.rb
Labels: enhancement

#463 Implement puppetdb exporter
  REFERENCE.md
  manifests/puppetdb_exporter.pp
  spec/classes/puppetdb_exporter_spec.rb
Labels: enhancement

#459 (#458) add grok_exporter
  data/defaults.yaml
  manifests/grok_exporter.pp
  spec/classes/grok_exporter_spec.rb
  spec/fixtures/files/grok-exporter.yaml
Labels: enhancement

#456 Update PushProx to new namespace / update version 20190708 -> 0.1.0
  data/defaults.yaml
  manifests/pushprox_client.pp
  manifests/pushprox_proxy.pp
Labels: backwards-incompatible

#467 release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
