Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-05, with the labels that each got.

#449 Allow extract_path to be modified
  manifests/daemon.pp
  spec/defines/daemon_spec.rb
Labels: enhancement, needs-tests

#451 Allow hiding of prom config file
  data/defaults.yaml
  manifests/config.pp
  manifests/init.pp
  spec/classes/prometheus_spec.rb
Labels: enhancement

#452 release 8.5.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#357 graphite_exporter: update 0.2.0->0.7.1
  data/defaults.yaml
  spec/acceptance/graphite_exporter_spec.rb
  spec/classes/graphite_exporter_spec.rb
Labels: backwards-incompatible

#453 Update rabbitmq_exporter to version 0.29.0
  data/defaults.yaml
  spec/acceptance/rabbitmq_exporter_spec.rb
Labels: backwards-incompatible
