Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-12, with the labels that each got.

#509 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  Rakefile
  manifests/alertmanager.pp
  manifests/config.pp
  manifests/daemon.pp
  manifests/service_reload.pp
  metadata.json
  spec/classes/bird_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_methods.rb
  types/initstyle.pp
Labels: modulesync

#512 Drop EOL CentOS 6 support
  manifests/alertmanager.pp
  manifests/config.pp
  manifests/daemon.pp
  manifests/service_reload.pp
  metadata.json
  spec/classes/bird_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_methods.rb
  types/initstyle.pp
Labels: backwards-incompatible

#511 (FACT-2880) fact: call Puppet within setcode block
  lib/facter/alert_manager_running.rb
Labels: bug

#507 Allow download_extension to be empty string
  REFERENCE.md
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/dellhw_exporter.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/grok_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/memcached_exporter.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/node_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/puppetdb_exporter.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
  spec/classes/node_exporter_spec.rb
Labels: bug

#514 Add Ubuntu 20.04 support
  metadata.json
  spec/classes/prometheus_spec.rb
  spec/classes/server_spec.rb
  spec/defines/daemon_spec.rb
Labels: enhancement

#513 puppetdb_exporter: Update 1.0.0->1.1.0
  REFERENCE.md
  manifests/puppetdb_exporter.pp
  spec/classes/puppetdb_exporter_spec.rb
Labels: backwards-incompatible

#515 Support Puppet 7.x
  metadata.json
Labels: enhancement

#517 Purge collected configs based on $purge_config_dir
  manifests/config.pp
Labels: bug
