Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-08, with the labels that each got.

#479 update version numbers to latest releases
  data/defaults.yaml
  spec/acceptance/apache_exporter_spec.rb
  spec/acceptance/redis_exporter_spec.rb
  spec/classes/collectd_exporter_spec.rb
  spec/classes/graphite_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
Labels: backwards-incompatible

#480 Fixes for prometheus::dellhw_exporter not working as is
  manifests/dellhw_exporter.pp
  spec/acceptance/dellhw_exporter_spec.rb
Labels: enhancement

#483 release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#487 Add option to override `scrape_host` for exporters
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/bird_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/dellhw_exporter.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/grok_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/memcached_exporter.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/postfix_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/puppetdb_exporter.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
Labels: enhancement
