Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-09, with the labels that each got.

#488 Allow filtering scrape jobs by nodes
  manifests/config.pp
  manifests/init.pp
  manifests/server.pp
Labels: enhancement

#497 modulesync 3.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  .overcommit.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/acceptance/nodesets/ec2/amazonlinux-2016091.yml
  spec/acceptance/nodesets/ec2/image_templates.yaml
  spec/acceptance/nodesets/ec2/rhel-73-x64.yml
  spec/acceptance/nodesets/ec2/sles-12sp2-x64.yml
  spec/acceptance/nodesets/ec2/ubuntu-1604-x64.yml
  spec/acceptance/nodesets/ec2/windows-2016-base-x64.yml
  spec/spec_helper.rb
Labels: modulesync

#495 release 10.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#496 Drop Debian 8 support/compatibility
  .sync.yml
  .travis.yml
  manifests/alertmanager.pp
  manifests/config.pp
  manifests/daemon.pp
  manifests/service_reload.pp
  metadata.json
  spec/classes/prometheus_spec.rb
  spec/classes/server_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_methods.rb
  templates/daemon.debian.erb
  templates/prometheus.debian.erb
  types/initstyle.pp
Labels: backwards-incompatible

#493 Daemon: create env files only if required
  REFERENCE.md
  manifests/bird_exporter.pp
  manifests/daemon.pp
  spec/classes/apache_exporter_spec.rb
  spec/classes/bird_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
  templates/daemon.env.erb
  templates/daemon.systemd.erb
Labels: enhancement
