Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-01, with the labels that each got.

#411 Prometheus: Acceptance test for 2.15.1
  spec/acceptance/prometheus_server_spec.rb
Labels: enhancement

#412 Arch Linux: Use prometheus unit file from package
  data/Archlinux.yaml
  spec/classes/prometheus_spec.rb
Labels: enhancement

#413 migrate prometheus service file erb->epp
  manifests/config.pp
  templates/prometheus.systemd.epp
  templates/prometheus.systemd.erb
Labels: enhancement

#414 Add `managed by puppet` header to unit file
  templates/daemon.systemd.erb
Labels: enhancement

#415 prometheus: harden systemd service
  spec/fixtures/files/cli/prometheus1_all.systemd
  spec/fixtures/files/cli/prometheus1_extra.systemd
  spec/fixtures/files/cli/prometheus2_6_retention.systemd
  spec/fixtures/files/cli/prometheus2_all.systemd
  spec/fixtures/files/cli/prometheus2_extra.systemd
  spec/fixtures/files/prometheus1.systemd
  spec/fixtures/files/prometheus2.systemd
  templates/prometheus.systemd.epp
Labels: enhancement

#409 move more static data from hiera to module
  REFERENCE.md
  data/defaults.yaml
  manifests/alertmanager.pp
  manifests/apache_exporter.pp
  manifests/beanstalkd_exporter.pp
  manifests/bird_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/daemon.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/init.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/postgres_exporter.pp
  manifests/process_exporter.pp
  manifests/pushgateway.pp
  manifests/pushprox_client.pp
  manifests/pushprox_proxy.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/server.pp
  manifests/snmp_exporter.pp
  manifests/statsd_exporter.pp
  manifests/varnish_exporter.pp
Labels: enhancement

#417 process-exporter: Add Option to provide config as hash
  manifests/process_exporter.pp
  spec/classes/process_exporter_spec.rb
  spec/fixtures/files/process-exporter.yaml
Labels: enhancement

#418 release 8.2.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#419 Execute systemctl daemon-reload before restarting daemons
  manifests/daemon.pp
  spec/defines/daemon_spec.rb
Labels: bug

#421 modulesync 2.10.1
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#422 release 8.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#397 Add config mode to config_dir creation
  manifests/install.pp
Labels: bug
