Repository voxpupuli/puppet-prometheus, pull requests merged in 2020-04, with the labels that each got.

#436 Add VZ 6/7 to metadata.json
  metadata.json
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
Labels: enhancement

#440 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#444 Use `--scrape_uri` instead of `-scrape_uri` for apache_exporter versions 0.8.0 and greater
  manifests/apache_exporter.pp
  spec/classes/apache_exporter_spec.rb
Labels: enhancement

#443 Support ppc64le
  manifests/init.pp
Labels: enhancement

#445 release 8.4.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#447 Add support for Debian 10
  .sync.yml
  .travis.yml
  metadata.json
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_acceptance.rb
  spec/spec_helper_methods.rb
Labels: enhancement
