Repository voxpupuli/puppet-prometheus, pull requests merged in 2021-11, with the labels that each got.

#590 Add sachet webhook receiver
  REFERENCE.md
  manifests/sachet.pp
  spec/acceptance/sachet_spec.rb
  spec/classes/sachet_spec.rb
  templates/sachet.yaml.epp
Labels: enhancement

#591 fix download url for new asset url schema
  data/defaults.yaml
  manifests/postgres_exporter.pp
Labels: bug

#593 Add a parameter to validate alertmanager config
  manifests/alertmanager.pp
  spec/classes/alertmanager_spec.rb
Labels: enhancement

#594 GHA: Move Cron job definition to own file
  .github/workflows/cron.yml
Labels: skip-changelog
