Repository voxpupuli/puppet-prometheus, pull requests merged in 2021-04, with the labels that each got.

#541 fix quoting in apache exporter
  manifests/apache_exporter.pp
  spec/classes/apache_exporter_spec.rb
Labels: bug

#543 puppet/archive: allow 5.x
  metadata.json
Labels: enhancement

#545 puppetlabs/stdlib: Allow 7.x
  metadata.json
Labels: enhancement

#544 camptocamp/systemd: allow 3.x
  metadata.json
Labels: enhancement

#546 release 11.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
