Repository voxpupuli/puppet-prometheus, pull requests merged in 2021-06, with the labels that each got.

#554 Exporters: Use Prometheus::Uri for $download_url_base
  REFERENCE.md
  manifests/beanstalkd_exporter.pp
  manifests/bird_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/consul_exporter.pp
  manifests/dellhw_exporter.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/ipmi_exporter.pp
  manifests/memcached_exporter.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/node_exporter.pp
  manifests/openldap_exporter.pp
  manifests/postgres_exporter.pp
  manifests/puppetdb_exporter.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/snmp_exporter.pp
  manifests/unbound_exporter.pp
Labels: enhancement

#557 Exporters: Use Prometheus::Initstyle for $init_style
  REFERENCE.md
  manifests/bind_exporter.pp
  manifests/bird_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/consul_exporter.pp
  manifests/dellhw_exporter.pp
  manifests/elasticsearch_exporter.pp
  manifests/graphite_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/ipmi_exporter.pp
  manifests/ipsec_exporter.pp
  manifests/memcached_exporter.pp
  manifests/mesos_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/node_exporter.pp
  manifests/openldap_exporter.pp
  manifests/postfix_exporter.pp
  manifests/postgres_exporter.pp
  manifests/puppetdb_exporter.pp
  manifests/rabbitmq_exporter.pp
  manifests/redis_exporter.pp
  manifests/snmp_exporter.pp
  manifests/unbound_exporter.pp
  manifests/varnish_exporter.pp
Labels: enhancement

#553 Add openvpn_exporter
  README.md
  manifests/openvpn_exporter.pp
  spec/acceptance/openvpn_exporter_spec.rb
  spec/classes/openvpn_exporter_spec.rb
Labels: enhancement

#559 release 11.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#561 Support Stdlib::Filesource as type for download urls
  spec/type_aliases/uri_spec.rb
  types/uri.pp
Labels: enhancement

#562 Overhaul and fix ipmi_exporter class
  manifests/ipmi_exporter.pp
  spec/acceptance/ipmi_exporter_spec.rb
  spec/classes/ipmi_exporter_spec.rb
  templates/ipmi_exporter.yaml.epp
Labels: backwards-incompatible

#563 Support mute_time_intervals for Alertmanager
  data/defaults.yaml
  manifests/alertmanager.pp
  spec/classes/alertmanager_spec.rb
  templates/alertmanager.yaml.erb
Labels: enhancement

#566 Add support for SSH exporter
  README.md
  manifests/ssh_exporter.pp
  spec/acceptance/ssh_exporter_spec.rb
  spec/classes/ssh_exporter_spec.rb
  templates/ssh_exporter.yaml.epp
Labels: enhancement

#567 Support SSL exporter
  README.md
  manifests/ssl_exporter.pp
  spec/acceptance/ssl_exporter_spec.rb
  spec/classes/ssl_exporter_spec.rb
  templates/ssl_exporter.yaml.epp
Labels: enhancement
