Repository voxpupuli/puppet-prometheus, pull requests merged in 2021-01, with the labels that each got.

#518 Drop Puppet 5; require at least Puppet 6.1.0
  metadata.json
Labels: backwards-incompatible

#519 release 11.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#508 Fix download of beanstalkd_exporter for versions newer than 1.0.0
  data/defaults.yaml
  manifests/beanstalkd_exporter.pp
  spec/classes/beanstalkd_exporter_spec.rb
Labels: bug
