Repository voxpupuli/puppet-prometheus, pull requests merged in 2021-02, with the labels that each got.

#489 Update network denendency in daemon systemd template
  templates/daemon.systemd.erb
Labels: bug, needs-feedback

#498 Implement unbound_exporter
  REFERENCE.md
  manifests/unbound_exporter.pp
  spec/classes/unbound_exporter_spec.rb
Labels: enhancement

#312 Add Bind exporter
  manifests/bind_exporter.pp
  spec/acceptance/bind_exporter_spec.rb
  spec/classes/bind_exporter_spec.rb
Labels: enhancement

#532 fix default scrape_uri in apache_exporter
  data/defaults.yaml
  spec/acceptance/apache_exporter_spec.rb
  spec/classes/apache_exporter_spec.rb
Labels: bug
