Repository voxpupuli/puppet-prometheus, pull requests merged in 2022-06, with the labels that each got.

#622 Implement web-config.yml handling
  manifests/node_exporter.pp
  spec/classes/node_exporter_spec.rb
Labels: enhancement

#599 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  manifests/bird_exporter.pp
  manifests/daemon.pp
  manifests/dellhw_exporter.pp
  manifests/ipsec_exporter.pp
  manifests/nginx_vts_exporter.pp
  manifests/openldap_exporter.pp
  manifests/openvpn_exporter.pp
  manifests/postfix_exporter.pp
  manifests/postgres_exporter.pp
  manifests/unbound_exporter.pp
  spec/spec_helper_acceptance.rb
Labels: modulesync

#623 Release 12.4.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
