Repository voxpupuli/puppet-prometheus, pull requests merged in 2023-11, with the labels that each got.

#700 Update puppet-strings documentation
  REFERENCE.md
  manifests/alertmanager.pp
  manifests/blackbox_exporter.pp
  manifests/install.pp
  manifests/scrape_job.pp
  manifests/unbound_exporter.pp
  types/gsuri.pp
  types/initstyle.pp
  types/s3uri.pp
  types/uri.pp
Labels: enhancement

#661 Add systemd_exporter
  REFERENCE.md
  manifests/systemd_exporter.pp
Labels: enhancement

#701 Release 13.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#687 Add OracleLinux support
  metadata.json
Labels: enhancement

#704 Drop Ubuntu 18.04, allow systemd 6.x
  metadata.json
Labels: enhancement, backwards-incompatible

#703 Add Debian 12 support
  metadata.json
Labels: enhancement

#693 Rework web-config support for multiple exporters
  REFERENCE.md
  manifests/apache_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/elasticsearch_exporter.pp
  manifests/haproxy_exporter.pp
  manifests/mysqld_exporter.pp
  manifests/node_exporter.pp
  manifests/postgres_exporter.pp
  spec/classes/apache_exporter_spec.rb
  spec/classes/blackbox_exporter_spec.rb
  spec/classes/elasticsearch_exporter_spec.rb
  spec/classes/haproxy_exporter_spec.rb
  spec/classes/mysqld_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
  spec/classes/postgres_exporter_spec.rb
  spec/type_aliases/web_config/http_server_config_spec.rb
  spec/type_aliases/web_config/tls_server_config_spec.rb
  spec/type_aliases/web_config_spec.rb
  types/web_config.pp
  types/web_config/http_server_config.pp
  types/web_config/tls_server_config.pp
Labels: backwards-incompatible
