Repository voxpupuli/puppet-prometheus, pull requests merged in 2023-08, with the labels that each got.

#641 add proxy_server & proxy_type to server install
  REFERENCE.md
  manifests/install.pp
  manifests/server.pp
  spec/classes/prometheus_spec.rb
Labels: enhancement

#684 Fix Arch Linux Prometheus Server installation
  REFERENCE.md
  data/Archlinux.yaml
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/server.pp
  spec/classes/prometheus_spec.rb
  spec/classes/server_spec.rb
Labels: bug

#689 Drop legacy systemd reload code for Puppet 5
  manifests/daemon.pp
Labels: enhancement

#690 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/classes/sachet_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#691 Release 13.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
