Repository voxpupuli/puppet-prometheus, pull requests merged in 2024-12, with the labels that each got.

#825 fix: tests for archlinux
  spec/acceptance/prometheus_server_spec.rb
Labels: skip-changelog

#823 puppet/systemd: allow 8.x
  metadata.json
Labels: dependencies

#811 Make documentation on collect_scrape_jobs clearer
  REFERENCE.md
  manifests/init.pp
Labels: docs

#826 remove support for apache_exporter < 1.0.0
  REFERENCE.md
  manifests/apache_exporter.pp
  spec/acceptance/apache_exporter_spec.rb
  spec/classes/apache_exporter_spec.rb
Labels: backwards-incompatible

#608 Add iperf3 exporter
  REFERENCE.md
  manifests/iperf3_exporter.pp
  spec/acceptance/iperf3_exporter_spec.rb
  spec/classes/iperf3_exporter_spec.rb
Labels: enhancement

#830 use default modulesync template for ci.yml
  .github/workflows/ci.yml
  .sync.yml
  scripts/start-squid.sh
  spec/acceptance/node_exporter_spec.rb
  spec/setup_acceptance_node.pp
Labels: skip-changelog

#832 add options to set tls parameters for mysql config used by mysqld_exporter
  REFERENCE.md
  data/defaults.yaml
  manifests/mysqld_exporter.pp
  spec/classes/mysqld_exporter_spec.rb
  templates/my.cnf.epp
Labels: enhancement

#833 Release v16.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#834 remove custom use of archive for several exporters
  manifests/daemon.pp
  manifests/nginx_prometheus_exporter.pp
  manifests/php_fpm_exporter.pp
  manifests/postgres_exporter.pp
  spec/classes/nginx_prometheus_exporter_spec.rb
  spec/classes/node_exporter_spec.rb
  spec/classes/postgres_exporter_spec.rb
Labels: enhancement
