Repository voxpupuli/puppet-prometheus, pull requests merged in 2024-06, with the labels that each got.

#637 Change default port from 9090 to 9419
  manifests/rabbitmq_exporter.pp
  spec/acceptance/rabbitmq_exporter_spec.rb
  spec/classes/rabbitmq_exporter_spec.rb
Labels: backwards-incompatible

#732 drop suport for redis_exporter < 1.0.0
  REFERENCE.md
  manifests/redis_exporter.pp
  spec/acceptance/redis_exporter_spec.rb
  spec/classes/redis_exporter_spec.rb
Labels: backwards-incompatible

#731 drop support for alertmanager < 0.13.0
  README.md
  manifests/alertmanager.pp
Labels: backwards-incompatible

#736 modulesync 8.0.1
  .github/workflows/ci.yml
  .msync.yml
  .overcommit.yml
  .rspec
  .rspec_parallel
  .rubocop.yml
  Gemfile
Labels: modulesync

#735 replace templates for systemd units with systemd::manage_unit
  REFERENCE.md
  manifests/config.pp
  manifests/daemon.pp
  manifests/init.pp
  metadata.json
  spec/classes/prometheus_spec.rb
  spec/defines/daemon_spec.rb
  spec/fixtures/files/prometheus1.alert.rules
  spec/fixtures/files/prometheus1.debian
  spec/fixtures/files/prometheus1.systemd
  spec/fixtures/files/prometheus1.sysv
  spec/fixtures/files/prometheus1.upstart
  spec/fixtures/files/prometheus1.yaml
  spec/fixtures/files/prometheus2.systemd
  templates/daemon.systemd.erb
Labels: enhancement

#739 cleanup prometheus 1 removal
  spec/classes/prometheus_spec.rb
  spec/fixtures/files/cli/prometheus1_all.systemd
  spec/fixtures/files/cli/prometheus1_extra.systemd
  spec/fixtures/files/cli/prometheus2_6_retention.systemd
  spec/fixtures/files/cli/prometheus2_all.systemd
  spec/fixtures/files/cli/prometheus2_extra.systemd
  templates/prometheus.systemd.epp
Labels: skip-changelog

#738 modulesync 9.0.0
  .github/labeler.yml
  .msync.yml
  Gemfile
Labels: modulesync

#740 prepare release 15.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#733 add renovate to update exporter versions
  .github/dependabot.yml
  .github/workflows/renovate.yml
  README.md
  data/defaults.yaml
  manifests/apache_exporter.pp
  manifests/bind_exporter.pp
  manifests/blackbox_exporter.pp
  manifests/collectd_exporter.pp
  manifests/dellhw_exporter.pp
  manifests/graphite_exporter.pp
  manifests/grok_exporter.pp
  manifests/ipmi_exporter.pp
  manifests/ipsec_exporter.pp
  manifests/memcached_exporter.pp
  manifests/mongodb_exporter.pp
  manifests/nginx_prometheus_exporter.pp
  manifests/openldap_exporter.pp
  manifests/openvpn_exporter.pp
  manifests/php_fpm_exporter.pp
  manifests/postgres_exporter.pp
  manifests/puppetdb_exporter.pp
  manifests/redis_exporter.pp
  manifests/sachet.pp
  manifests/ssh_exporter.pp
  manifests/ssl_exporter.pp
  manifests/systemd_exporter.pp
  manifests/unbound_exporter.pp
  manifests/varnish_exporter.pp
  manifests/wireguard_exporter.pp
  renovate-config.json
Labels: skip-changelog

#787 auto add `enhancement` label in renovate PRs
  renovate-config.json
Labels: skip-changelog
