Repository voxpupuli/puppet-prometheus, pull requests merged in 2025-04, with the labels that each got.

#896 prepare 16.1.0 release
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#621 haproxy_exporter: escape cnf_scrape_uri to avoid malformed strings
  manifests/haproxy_exporter.pp
  spec/classes/haproxy_exporter_spec.rb
Labels: bug

#846 add ensure parameter to prometheus::daemon
  REFERENCE.md
  manifests/daemon.pp
  manifests/scrape_job.pp
  spec/acceptance/daemon_spec.rb
  spec/defines/daemon_spec.rb
  spec/spec_helper_methods.rb
Labels: enhancement
